apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: jobs-app
  labels:
    app: frontend
spec:
  type: ClusterIP  # 외부 접근 차단, ngrok을 통해서만 접근 가능
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: frontend
